[submodule "source/ws2812-rpi"]
	path = source/ws2812-rpi
	url = https://github.com/isaact23/ws2812-rpi
[submodule "source/ws2812-dma"]
	path = source/ws2812-dma
	url = https://github.com/isaact23/ws2812-dma
