[submodule "src/ws2812-rpi"]
	path = src/led-control/ws2812-rpi
	url = https://github.com/isaact23/ws2812-rpi
[submodule "src/ws2812-dma"]
	path = src/led-control/ws2812-dma
	url = https://github.com/isaact23/ws2812-dma
[submodule "src/ws2812-esp32"]
	path = src/led-control/ws2812-esp32
	url = https://github.com/isaact23/ws2812-esp32
